* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Space Grotesk", sans-serif;
  font-size: 10px;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 50px;
}

.card_side {
  background-image: url(./images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 22em;
  display: grid;
  place-items: center;
}

.card {
  display: grid;
  place-items: center;
}

.master_card {
  width: 70%;
}

.front_card_img,
.back_card_img {
  width: 100%;
  position: relative;
}

.back_card {
  transform: translate(10%, 20%);
  -webkit-transform: translate(10%, 20%);
  -moz-transform: translate(10%, 20%);
  -ms-transform: translate(10%, 20%);
  -o-transform: translate(10%, 20%);
}

.fornt_card {
  transform: translate(-10%, -20%);
  -webkit-transform: translate(-10%, -20%);
  -moz-transform: translate(-10%, -20%);
  -ms-transform: translate(-10%, -20%);
  -o-transform: translate(-10%, -20%);
}

.front_card_icon,
.front_card_icon img {
  width: 5em;
}

.front_card_information {
  position: absolute;
  inset: 0;
  padding: 2em;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.back_card_information {
  position: absolute;
  top: 43%;
  right: 15%;
  font-size: 1.2em;
  color: white;
}

.front_card_number {
  font-size: 2em;
  letter-spacing: 2px;
}

.front_card_info {
  font-size: 1.2em;
  display: inline-flex;
  justify-content: space-between;
}

.form_side {
  background-color: white;
  margin: 50px auto;
  width: 80%;
  font-size: 16px;
}

form {
  width: 95%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

form label {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 500;
}

form input {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px;
  width: 100%;
}

form input:focus{
  border:1px solid red;
  outline:none;
}

.date_information {
  display: flex;
}

.date_container {
  width: 60%;
}

.date_container input {
  display: inline;
  width: 40%;
}

.cvc_container {
  width: 40%;
  margin-left: 20px;
}

.btn {
  background-color: rgb(38, 32, 48);
  padding: 20px;
  border-radius: 10px;
  color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 100%;
  border: none;
  outline: none;
  
}

.btn:active{
  transform: translate(0px,2px);
  box-shadow: 3px 3px 6px 0px #303030;

}

.error{
 color:red;
 font-size: 12px;
 opacity:0;
 transform:translateY(-100%) ;
 -webkit-transform:translateY(-100%) ;
 -moz-transform:translateY(-100%) ;
 -ms-transform:translateY(-100%) ;
 -o-transform:translateY(-100%) ;
 transition: .5s;
 -webkit-transition: .5s;
 -moz-transition: .5s;
 -ms-transition: .5s;
 -o-transition: .5s;
}



.confirmed_message{
  background-color: white;
  margin: 50px auto;
  width: 80%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
}


.hidden{
  display: none;
}


@media (max-width: 376px) {

.front_card_number {
  font-size: 12px;
  letter-spacing: 2px;
}

form label{
  font-size: 12px;;
}

}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .card_side {
    height: 100%;
  }

  .master_card {
    width: 90%;
  }

  .fornt_card {
    transform: translate(20%, -100%);
    -webkit-transform: translate(20%, -100%);
    -moz-transform: translate(20%, -100%);
    -ms-transform: translate(20%, -100%);
    -o-transform: translate(20%, -100%);
  }

  .back_card {
    transform: translate(35%, 110%);
    -webkit-transform: translate(35%, 110%);
    -moz-transform: translate(35%, 110%);
    -ms-transform: translate(35%, 110%);
    -o-transform: translate(35%, 110%);
  }

  .form_side {
    margin: 0px;
    width: 80%;
    display: grid;
    place-items: center;
  }

  form {
    width: 60%;
  }

  .confirmed_message{
    width:55%;
  }
}

